NEXT_PUBLIC_SITE_URL=https://aldi.lemacore.com
RESEND_API_KEY=your_resend_key  # for email sending
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=aldialputra@gmail.com
SMTP_PASS=tsiu adtq xymi vmfc
SMTP_FROM="Portfolio Contact <no-reply@aldi.lemacore.com>"